PORT=8000
MONOGODB_URI=mongodb+srv://<user_name>:<your_password>@cluster0.ssendth.mongodb.net
CORS_ORIGIN=*
ACCESS_TOKEN_SECRET=<token>
ACCESS_TOKEN_EXPIRY=1d
REFRESH_TOKEN_SECRET=<token>
REFRESH_TOKEN_EXPIRY=10d